.Rolldice { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 70vh; 
}

.RollDice button {
    width: 15em;
    padding: 1.5em;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-top: 3em;
   
    font-family: 'League Spartan', sans-serif;
}


.RollDice-container { 
    display: flex; 
    justify-content: center; 
    align-content: center; 
} 
